.git
.gitignore
.env
.venv
.pnpm-store
_publish
**/__pycache__
**/.pytest_cache
**/*.pyc
**/node_modules
**/dist
**/target
frontend/npm-debug.log
sde
clips
android-eqm/.gradle
android-eqm/app/build
android-eqm/build
